* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "arial", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

a:link,
a:link:hover,
a:visited,
a:visited:hover {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

header {
  height: 100px;
  background-color: white;
  border-bottom: 1px solid grey;
}

input {
  padding: 4px;
  font-weight: 600;
  border: 2px solid #555454;
}

button {
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  transition: background-color 100ms ease-in-out;
  font-weight: 600;
}

button:hover {
  background-color: #eeeeee;
}

button:disabled {
  background-color: white;
}

header {
  height: 100px;
  background-color: white;
  border-bottom: 1px solid grey;
}

.app__content {
  min-height: calc(100vh - 100px);
  padding: 10px;
}

.header__logo {
  height: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  align-items: center;
}

.header__logo-icon {
  height: 100%;
  min-width: 64px;
  margin-top: -10px;
}

.header__logo h1 {
  font-size: 50px;
  font-weight: 1000;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__search input {
  width: 80%;
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.header__search-button {
  padding: 4px 8px;
  border-radius: 0 5px 5px 0;
}

.header__account {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.register,
.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.wholePage {
  max-width: 1000px;
  margin: 6rem auto;
  padding: 14px;
  font-size: 1.1em;
  background-color: #70b4c1;
}

.category-box {
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 2%;
}

.category-box__threads {
  list-style: none;
}

.row__avatar {
  height: 70px;
  width: 70px;
  padding: 0;
}

.row__thread-title {
  margin-left: 2%;
  display: inline;
  padding: auto;
}

.category-box__thread-desc {
  margin-top: 1em;
}

.category-thread {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 100ms ease-in-out;
  margin-bottom: 15px;
}

.register__input-container,
.sign-in__input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;
}

.register__error-message,
.sign-in__error-message {
  max-width: 80%;
}

.register__buttons,
.sign-in__buttons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.modal__content {
  position: absolute;
  z-index: 10;
  background-color: #fafafa;
  left: 50%;
  padding: 40px;
  transform: translate(-50%);
  border-radius: 5px;
}

.modal__background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.threadLikes {
  display: inline;
  margin-left: 5px;
}

.threadPrevCont {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.newThreadButton {
  padding: 0px 10px 0 5px;
}

.threadButtonSpan {
  margin-top: 10px;
  display: inline-block;
}

#catigory-title {
  text-align: center;
  margin-bottom: 1em;
}

#toolbox {
  background-color: #f5f5f5;
  width: 20%;
  margin-top: 0%;
  margin-right: 2%;
  height: 10em;
  float: left;
}

#postthread {
  padding: 2%;
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 5px;
}

#threadinput {
  width: 100%;
  margin: 1% 0%;
}

#subThread {
  margin: 1% 5%;
}

#submitbut {
  /*border: 2px solid red;*/
  display: flex;
  justify-content: flex-end;
}

#quill {
  background-color: #ffffff;
}

.ql-container {
  background-color: #ffffff;
  min-height: 200px;
}

.profile-page {
  background-color: white;
  border: 1px solid #ececec;
  border-radius: 5px;
  min-height: calc(100vh - 100px);
  width: 50%;
  margin: 0 auto;
}

.profile-page__image {
  min-width: 15%;
  max-width: 230px;
  border-radius: 100%;
}

.profile-page__settings-button {
  border: none;
  border-radius: 150px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: inherit;
}

.profile-page__settings-icon {
  width: 30px;
  height: 30px;
}

.profile-page__userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.profile-page__thread-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1em;
}
.profile-page__thread-buttons > button {
  margin: 1px;
}

.profile-page__displayed-threads {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-message {
  background-color: rgb(255, 71, 51);
  font-weight: 600;
  color: white;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
}

.hide {
  display: none;
}

.profile-list-item {
  border: 1px solid #c0c0c0;
  width: 80%;
  padding: 6px;
  margin: 4px;
  border-radius: 5px;
}

.profile-list-item:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.profile-list-item__header {
  font-weight: 600;
}

.profile-list-item__content {
  font-size: 18px;
  margin: 8px 0;
}

.profile-list-item__date {
  color: #8a8a8a;
  font-size: 16px;
  font-weight: 100;
}
