a:link,
a:link:hover,
a:visited,
a:visited:hover {
  text-decoration: none;
  color: inherit;
}

.category-list {
  background-color: #70b4c1;
  border-radius: 5px;
  list-style: none;
  width: 60%;
  margin: 6rem auto;
  padding: 1%;
}

.category-box {
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 2%;
}

.category-box__threads {
  list-style: none;
}

.category-thread {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 100ms ease-in-out;
  margin-bottom: 5px;
}

.category-thread:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.category-thread__info span {
  margin-right: 10px;
}

.avatar {
  height: 4em;
  width: 4em;
}

.thread-title {
  margin-left: 1em;
  display: inline;
  padding: auto;
}

.thread-desc {
  margin-top: 1em;
}

#catigory-title {
  text-align: center;
  margin-bottom: 1em;
}

#toolbox {
  background-color: #f5f5f5;
  width: 20%;
  margin-top: 0%;
  margin-right: 2%;
  height: 10em;
  float: left;
}

#editbox {
  background-color: #f5f5f5;
  width: 75%;
  display: inline-block;
}

#postthread {
  padding: 2%;
}

#threadinput {
  width: 90%;
  margin: 1% 5%;
}

#threadtextarea {
  width: 90%;
  margin: 1% 5%;
  height: 20em;
}

#subThread {
  margin: 1% 5%;
}

#submitbut {
  /*border: 2px solid red;*/
  display: flex;
  justify-content: flex-end;
}
