* {
  padding: 0;
  margin: 0;
}

header {
  height: 80px;
}

header div {
  height: 100%;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.logo:hover {
  color: black;
  cursor: pointer;
}

.logo__text {
  font-size: 50px;
  font-weight: 1000;
  color: black;
}

.logo__icon {
  height: 80%;
}

.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 80%;
  height: 40px;
  padding-left: 10px;
  border: 3px solid #00b4cc;
  border-right: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  font-size: 1.2rem;
  color: #202020;
  font-weight: 500;
}

.header-btn {
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 200ms ease-in-out;
}

.header-btn:hover {
  background-color: #009fb4;
}

.search-btn {
  width: 40px;
  border-radius: 0 5px 5px 0;
}

.sign-in-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
